#chess_board{
    width: 800px;
    height: 800px;
    background-color: rgb(0,0,0);
    display: flex;
    flex-wrap: wrap;
}
#info{
    color: black;
    position: absolute;
    top: 1225px;
    left: 346px;
}
.square{
    height: 100px;
    width: 100px;
    user-select: none; 
}
.square img{
    height: 100px;
    width: 100px;
    position: relative;
    z-index: -1;
}
.piece{
    position: relative;
    z-index: 10;
}
.ice{
    background-color: rgb(198, 233, 255);
} 
.navy{
    background-color: rgb(0, 0, 67);
}
#turn{
    position: absolute;
    font: 125px 'Mozilla Text';
    left: 1250px;
    top: 125px;
}