#chess_board{
    width: 800px;
    height: 800px;
    background-color: rgb(0,0,0);
    display: flex;
    flex-wrap: wrap;
}
#info{
    position: absolute;
    font: 125px 'Mozilla Text';
    left: 25px;
    top: 700px;
}
.square{
    height: 100px;
    width: 100px;
    user-select: none; 
    position:relative;
}
.square img{
    height: 100px;
    width: 100px;
    position: relative;
    z-index: -1;
}
.piece{
    position: relative;
    z-index: 10;
}
.ice{
    background-color: rgb(198, 233, 255);
} 
.navy{
    background-color: rgb(0, 0, 67);
}
#turn{
    position: absolute;
    font: 125px 'Mozilla Text';
    left: 1250px;
    top: 125px;
}

.square.ice.attack-highlight {
    background-color: rgba(255, 99, 71, 0.45); 
}

.square.navy.attack-highlight {
    background-color: rgba(220, 50, 35, 0.6); 
}

.square.checkmate {
    background-color: rgba(255, 0, 0, 0.45); 
}
.square.checkmater {
    background-color: rgba(0, 255, 0, 0.45); 
}
.square.stalemate {
    background-color: rgba(127, 127, 127, 0.45);
}
